@using System.Activities.Expressions
@using Helpers;
@{
  ViewBag.Title = "List";
}

<h2>List</h2>


@Zaza.Grid(Model, new[] {Zaza.GridColumn("Name", "Name", null, "Name")}, tableStyle: null, emptyTemplateText: null, headerStyle: null, rowStyle: null, alternatingRowStyle: null, htmlAttributes: null, fieldNamePrefix: null, sortColumn: null, defaultSort: null, columnHeaders: null, displayHeader: false, canSort: false, sortFieldName: null, sortDirectionFieldName: null, pageFieldName: null)


