@using System.Activities.Expressions
@using CONCENTRA.RED.AUTNET.PRESENTATION
@using Helpers;
@{
  ViewBag.Title = "List";
}
@model List<Zaza.Entities.User>
<h2>List</h2>


@AuteursGrid.Grid(source: Model,
        defaultSort: "Description",
             emptyTemplateText: "llaa",
               alternatingRowStyle: "gridAlternateItemBlueUnclickable",
               rowStyle: "gridItemBlueUnclickable",
             tableStyle: "gridClass",
             headerStyle: "gridHeaderBlue",
             canSort: true,
                           columns: new Helpers.GridColumn[] {
                                                new Helpers.GridColumn{ ColumnName="FirstName",Header="FirstName", CanSort=true}})
