<div id="upperside">
  <div id="info-square">
    @Html.Partial("_LoginPartial")
    <div id="cart-related">
      <a id="wishlist" href="#">WishList</a>
      <a id="cart" href="#"><span>0</span></a>
    </div>
  </div>

</div>
