@{
  ViewBag.Title = "Item";
}

<h2>Item</h2>
<div class="entry">
  <div>
    <a href="#">
      <img class="image" width="500" height="600" src="~/Resources/Photos/d2b9641e-477f-4511-81c5-379b566490d6.jpg" />

    </a>
  </div>
  <div class="name" style="height: 36px;">
    <a href="#">Lorem ipsum dolor sit amet conse c</a>
  </div>
  <div class="price">
    <span class="price-new">$588.33</span>
    <span class="price-old">$589.50</span>
  </div>
</div>
