@{
  ViewBag.Title = "PublicMenu";
}
<div class="input-search">
  <input id="search">
  <a href="" class="submit-btnicon">OK</a>
</div>
<div id="publicMenu">
  <ul>
    <li><a href="#">SEARA</a></li>
    <li><a href="#">COCKTAIL</a></li>
    <li><a href="#">COUTURE</a></li>
    <li><a href="#">NEW</a></li>
  </ul>
</div>


