*
{
    margin: 0;
    padding: 0;
}

html
{
    background-color: #e2e2e2;
    background: url("../Images/bg_img.jpg");
    margin: 0;
    padding: 0;
}

#contentwrapper
{
    /*background: url("../Images/bg_img.jpg");*/
    min-height: 900px;
    min-width: 980px;
}

#publicMenuvvx
{
    background: url("../Images/menu_header.png");
		background: url("../Images/menu_header.png");
}
